.github
.DS_Store
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
**/__pycache__
**/*.pyc
.idea
venv
.venv
build
.pytest_cache
.ruff_cache
.ipynb_checkpoints
**/*.db
backend/data/*
Dockerfile
.dockerignore
